PyPDF2
markdown
pytesseract
Pillow
langchain
langchain-community
langchain_core
json5
python-dotenv
pdfplumber
python-docx
python-pptx
unstructured
unstructured[pdf]
unstructured[docx]
unstructured[md]
chromadb
openai
flask
numpy